	table.table_view a:link {
		color: #666;
		font-weight: bold;
		text-decoration:none;
	}
	table.table_view a:visited {
		color: #999999;
		font-weight:bold;
		text-decoration:none;
	}
	table.table_view a:active,
	table.table_view a:hover {
		color: #bd5a35;
		text-decoration:underline;
	}
	table.table_view {
		font-family:Calibri,Verdana, Helvetica, sans-serif;
		color:#000;
		font-size:12px;
		/*text-shadow: 1px 1px 0px #fff;*/
		background:#eaebec;
		margin:20px;
		margin-bottom:5px;
		border:2px solid #ccc ;
	
		/*-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;*/
	
		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1;
	}
	table.table_view th {
		font-size:14px;
		font-weight:bold;
		color:#FFF;
		padding:5px 25px 22px 25px;
		border-top:1px solid #fafafa;
		border-bottom:1px solid #e0e0e0;
	
		background: #868887;
		background: -webkit-gradient(linear, left top, left bottom, from(#868887), to(#868887));
		background: -moz-linear-gradient(top,  #868887,  #868887);
	}
	table.table_view th:first-child{
		text-align: left;
		padding-left:20px;
	}
	table.table_view tr:first-child th:first-child{
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		border-top-left-radius:3px;
	}
	table.table_view tr:first-child th:last-child{
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	table.table_view tr{
		text-align: center;
		padding-left:20px;
	}
	table.table_view tr td:first-child{
		text-align: left;
		padding-left:20px;
		border-left: 0;
	}
	table.table_view tr td {
		padding:7px;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		
		background: #fafafa;
		background: -webkit-gradient(linear, left top, left bottom, from(#DEDEE0), to(#DEDEE0));
		background: -moz-linear-gradient(top,  #DEDEE0,  #DEDEE0);
	}
	table.table_view tr.even td{
		background: #F1F1F1;
		background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#F1F1F1));
		background: -moz-linear-gradient(top,  #F1F1F1,  #F1F1F1);
	}
	table.table_view tr:last-child td{
		border-bottom:0;
	}
	table.table_view tr:last-child td:first-child{
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	table.table_view tr:last-child td:last-child{
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}
	table.table_view tr:hover td{
		background: #f2f2f2;
		background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
		background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
	}
	
	.textAlignLeft {
		text-align:left !important;	
	}