<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>




        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Unified Gateway Portal</title>
        <script src="script/jquery.tools.1.2.6.full.min.js"></script>
        <script type="text/javascript" src="/script/jquery.watermarkinput.js"></script>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all,handheld" />
        <link href="css/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/admin.css" rel="stylesheet" type="text/css" media="all,handheld" />
        <link rel="stylesheet" media="screen" type="text/css" href="css/datepicker.css" />
        <link rel="stylesheet" href="development-bundle/themes/cupertino/jquery.ui.all.css">
            <script src="js/jquery-1.9.1.min.js"></script>
            <script src="development-bundle/ui/jquery.ui.core.js"></script>

            <script src="development-bundle/ui/jquery.ui.datepicker.js"></script>
            <link rel="stylesheet" href="development-bundle/demos/demos.css">
                <script type="text/javascript" src="js/datepicker.js"></script>
                <script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
                <style type="text/css">
                    #main_back
                    {
                        background-image: url('images/home_bg.png');
                        background-repeat: no-repeat;
                        width: 1000px;
                        height: 564px;
                        margin: 0 auto;
                        padding: 0px;
                    }

                    #navigation_menu_home
                    {
                        margin-left: 295px;
                        
                    }
                    #navigation_menu_page
                    {
                        margin-left: 295px;
                        margin-top: 281px;
                    }
                    #pages
                    {
                        background-image: url('images/page_bg.png');
                        background-repeat: no-repeat;
                        width: 1000px;
                        height: 670px;
                        margin: 0 auto;
                        position: relative;
                    }
                    
                    #page_div{
                        position: absolute;
                        right: 0px;
                        top: 85px;
                        width: 516px;
                    }
                    
                    #navigation_menu
                    {
                       padding: 200px 0 0 306px;
                       position: relative;
    
                    }
                    
                    #navigation_menu ul li{
                       font-size: 22px;
                       font-weight: bold;
                       padding-bottom: 5px;
                    }
                    
                    #navigation_menu ul li a{
                        color: #BAB5AE;
                    }
                    
                    #navigation_menu ul li a:hover
                    {
                        color: #000000;
                    }
                    
                    #logout_link{
                        background-image: url('images/logout-button.png');
                        background-repeat: no-repeat;
                        margin-left: 30px;
                        margin-top: 30px;
                        color: #585858;
                    }

                </style>   
                </head>
                <body style="background-color: #131313;">
                    <a href="index.php" style="position: absolute; right: 200px; z-index: 999;">Home</a>
                    <?php
                    
                    if ($FORM == "defaultbody.php") {
                        ?>
                        <div id="main_back">
                            
                            <a href="loginsession.php" id="logout_link">.................</a> 

                            <div id="navigation_menu">
                                <?php include $FORM; ?>
                            </div>
                            <?php
                        } else {
                            ?>
                        </div>
                        <div id="pages">
                        	<?php
								if(isset($_REQUEST['FORM']) && $_REQUEST['FORM'] == "forms/frm/frmProxy.php"){
									
								} else {
							?>
                            <div id="menu_div" style="position: absolute; top: 0px; left: 0px; width:320px; height: 320px; ">
                                <?php include $MENU; ?>    
                            </div>
                            <?php
								}
							?>
                            <div id="page_div">
                                <?php include $FORM; ?>
                            </div>
                            <a href="loginsession.php" id="logout_link" style="position: absolute; bottom: 0px; right: 0px;">.................</a>
                        </div>
                        
                            <?php
                        }
                        ?>

                    
                </body>
                </html>

